In [ ]:
#pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.7.2-cp313-cp313-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.22.0 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (2.3.4)
Collecting scipy>=1.8.0 (from scikit-learn)
  Downloading scipy-1.16.3-cp313-cp313-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.5.2-py3-none-any.whl.metadata (5.6 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.7.2-cp313-cp313-win_amd64.whl (8.7 MB)
   ---------------------------------------- 0.0/8.7 MB ? eta -:--:--
   ------ --------------------------------- 1.3/8.7 MB 8.2 MB/s eta 0:00:01
   -------- ------------------------------- 1.8/8.7 MB 5.3 MB/s eta 0:00:02
   ------------ --------------------------- 2.6/8.7 MB 4.3 MB/s eta 0:00:02
   -------------- ------------------------- 3.1/8.7 MB 4.0 MB/s eta 0:00:02
   ---------------- ----------------------- 3.7/8.7 MB 3.8 MB/s eta 0:00:02
   -------------------- ------------------- 4.5/8.7 MB 3.6 MB/s eta 0:00:02
   ---------------------- ----------------- 5.0/8.7 MB 3.6 MB/s eta 0:00:02
   -------------------------- ------------- 5.8/8.7 MB 3.5 MB/s eta 0:00:01
   ---------------------------- ----------- 6.3/8.7 MB 3.5 MB/s eta 0:00:01
   -------------------------------- ------- 7.1/8.7 MB 3.4 MB/s eta 0:00:01
   ---------------------------------- ----- 7.6/8.7 MB 3.3 MB/s eta 0:00:01
   ------------------------------------- -- 8.1/8.7 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------  8.7/8.7 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------- 8.7/8.7 MB 3.1 MB/s  0:00:02
Downloading joblib-1.5.2-py3-none-any.whl (308 kB)
Downloading scipy-1.16.3-cp313-cp313-win_amd64.whl (38.5 MB)
   ---------------------------------------- 0.0/38.5 MB ? eta -:--:--
   - -------------------------------------- 1.0/38.5 MB 6.8 MB/s eta 0:00:06
   - -------------------------------------- 1.8/38.5 MB 4.5 MB/s eta 0:00:09
   -- ------------------------------------- 2.4/38.5 MB 4.0 MB/s eta 0:00:10
   --- ------------------------------------ 3.1/38.5 MB 3.7 MB/s eta 0:00:10
   --- ------------------------------------ 3.7/38.5 MB 3.6 MB/s eta 0:00:10
   ---- ----------------------------------- 4.5/38.5 MB 3.5 MB/s eta 0:00:10
   ----- ---------------------------------- 5.0/38.5 MB 3.4 MB/s eta 0:00:10
   ----- ---------------------------------- 5.8/38.5 MB 3.4 MB/s eta 0:00:10
   ------ --------------------------------- 6.6/38.5 MB 3.3 MB/s eta 0:00:10
   ------- -------------------------------- 7.1/38.5 MB 3.3 MB/s eta 0:00:10
   -------- ------------------------------- 7.9/38.5 MB 3.3 MB/s eta 0:00:10
   -------- ------------------------------- 8.4/38.5 MB 3.3 MB/s eta 0:00:10
   --------- ------------------------------ 8.9/38.5 MB 3.3 MB/s eta 0:00:10
   ---------- ----------------------------- 9.7/38.5 MB 3.2 MB/s eta 0:00:09
   ---------- ----------------------------- 10.2/38.5 MB 3.2 MB/s eta 0:00:09
   ----------- ---------------------------- 11.0/38.5 MB 3.2 MB/s eta 0:00:09
   ----------- ---------------------------- 11.5/38.5 MB 3.2 MB/s eta 0:00:09
   ------------ --------------------------- 12.3/38.5 MB 3.2 MB/s eta 0:00:09
   ------------- -------------------------- 12.8/38.5 MB 3.2 MB/s eta 0:00:09
   -------------- ------------------------- 13.6/38.5 MB 3.2 MB/s eta 0:00:08
   -------------- ------------------------- 14.2/38.5 MB 3.2 MB/s eta 0:00:08
   --------------- ------------------------ 14.7/38.5 MB 3.2 MB/s eta 0:00:08
   ---------------- ----------------------- 15.5/38.5 MB 3.2 MB/s eta 0:00:08
   ---------------- ----------------------- 16.0/38.5 MB 3.2 MB/s eta 0:00:08
   ----------------- ---------------------- 16.8/38.5 MB 3.1 MB/s eta 0:00:07
   ----------------- ---------------------- 17.3/38.5 MB 3.1 MB/s eta 0:00:07
   ------------------ --------------------- 17.8/38.5 MB 3.1 MB/s eta 0:00:07
   ------------------- -------------------- 18.6/38.5 MB 3.1 MB/s eta 0:00:07
   ------------------- -------------------- 19.1/38.5 MB 3.1 MB/s eta 0:00:07
   -------------------- ------------------- 19.9/38.5 MB 3.1 MB/s eta 0:00:06
   --------------------- ------------------ 20.4/38.5 MB 3.1 MB/s eta 0:00:06
   --------------------- ------------------ 21.0/38.5 MB 3.1 MB/s eta 0:00:06
   ---------------------- ----------------- 21.8/38.5 MB 3.1 MB/s eta 0:00:06
   ----------------------- ---------------- 22.3/38.5 MB 3.1 MB/s eta 0:00:06
   ----------------------- ---------------- 23.1/38.5 MB 3.1 MB/s eta 0:00:05
   ------------------------ --------------- 23.6/38.5 MB 3.1 MB/s eta 0:00:05
   ------------------------- -------------- 24.4/38.5 MB 3.1 MB/s eta 0:00:05
   ------------------------- -------------- 24.9/38.5 MB 3.1 MB/s eta 0:00:05
   -------------------------- ------------- 25.4/38.5 MB 3.1 MB/s eta 0:00:05
   --------------------------- ------------ 26.2/38.5 MB 3.1 MB/s eta 0:00:04
   --------------------------- ------------ 26.7/38.5 MB 3.1 MB/s eta 0:00:04
   ---------------------------- ----------- 27.5/38.5 MB 3.1 MB/s eta 0:00:04
   ----------------------------- ---------- 28.0/38.5 MB 3.1 MB/s eta 0:00:04
   ----------------------------- ---------- 28.6/38.5 MB 3.1 MB/s eta 0:00:04
   ------------------------------ --------- 29.4/38.5 MB 3.1 MB/s eta 0:00:03
   ------------------------------- -------- 29.9/38.5 MB 3.1 MB/s eta 0:00:03
   ------------------------------- -------- 30.7/38.5 MB 3.1 MB/s eta 0:00:03
   -------------------------------- ------- 31.2/38.5 MB 3.1 MB/s eta 0:00:03
   -------------------------------- ------- 31.7/38.5 MB 3.1 MB/s eta 0:00:03
   --------------------------------- ------ 32.5/38.5 MB 3.1 MB/s eta 0:00:02
   ---------------------------------- ----- 33.3/38.5 MB 3.1 MB/s eta 0:00:02
   ----------------------------------- ---- 33.8/38.5 MB 3.1 MB/s eta 0:00:02
   ----------------------------------- ---- 34.6/38.5 MB 3.1 MB/s eta 0:00:02
   ------------------------------------ --- 35.1/38.5 MB 3.1 MB/s eta 0:00:02
   ------------------------------------- -- 35.9/38.5 MB 3.1 MB/s eta 0:00:01
   ------------------------------------- -- 36.4/38.5 MB 3.1 MB/s eta 0:00:01
   -------------------------------------- - 37.2/38.5 MB 3.1 MB/s eta 0:00:01
   ---------------------------------------  37.7/38.5 MB 3.1 MB/s eta 0:00:01
   ---------------------------------------  38.3/38.5 MB 3.1 MB/s eta 0:00:01
   ---------------------------------------  38.3/38.5 MB 3.1 MB/s eta 0:00:01
   ---------------------------------------- 38.5/38.5 MB 3.0 MB/s  0:00:12
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn

   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   -------------------- ------------------- 2/4 [joblib]
   -------------------- ------------------- 2/4 [joblib]
   -------------------- ------------------- 2/4 [joblib]
   -------------------- ------------------- 2/4 [joblib]
   -------------------- ------------------- 2/4 [joblib]
   -------------------- ------------------- 2/4 [joblib]
   -------------------- ------------------- 2/4 [joblib]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ---------------------------------------- 4/4 [scikit-learn]

Successfully installed joblib-1.5.2 scikit-learn-1.7.2 scipy-1.16.3 threadpoolctl-3.6.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [5]:
df=sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [6]:
df1=df.copy()
df2=df.copy()
df3=df.copy()
df4=df.copy()
df5=df.copy()

In [7]:
df["embarked"].value_counts()

embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [8]:
df["who"].value_counts()

who
man      537
woman    271
child     83
Name: count, dtype: int64

In [9]:
le=LabelEncoder()

In [10]:
df["sex"]=le.fit_transform(df["sex"]) 
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,0,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,0,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,0,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,1,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,1,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,0,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,0,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,1,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,1,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [11]:
df["embarked"]=le.fit_transform(df["embarked"])

In [12]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,2,Third,man,True,NaN,Southampton,no,False
1,1,1,0,38.0,1,0,71.2833,0,First,woman,False,C,Cherbourg,yes,False
2,1,3,0,26.0,0,0,7.9250,2,Third,woman,False,NaN,Southampton,yes,True
3,1,1,0,35.0,1,0,53.1000,2,First,woman,False,C,Southampton,yes,False
4,0,3,1,35.0,0,0,8.0500,2,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,1,27.0,0,0,13.0000,2,Second,man,True,NaN,Southampton,no,True
887,1,1,0,19.0,0,0,30.0000,2,First,woman,False,B,Southampton,yes,True
888,0,3,0,NaN,1,2,23.4500,2,Third,woman,False,NaN,Southampton,no,False
889,1,1,1,26.0,0,0,30.0000,0,First,man,True,C,Cherbourg,yes,True
890,0,3,1,32.0,0,0,7.7500,1,Third,man,True,NaN,Queenstown,no,True

In [16]:
df["embarked"].value_counts()

embarked
2    644
0    168
1     77
3      2
Name: count, dtype: int64

In [15]:
encoding=le.fit(df["who"])

In [17]:
df["who"]=encoding.transform(df["who"])

In [18]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,2,Third,1,True,NaN,Southampton,no,False
1,1,1,0,38.0,1,0,71.2833,0,First,2,False,C,Cherbourg,yes,False
2,1,3,0,26.0,0,0,7.9250,2,Third,2,False,NaN,Southampton,yes,True
3,1,1,0,35.0,1,0,53.1000,2,First,2,False,C,Southampton,yes,False
4,0,3,1,35.0,0,0,8.0500,2,Third,1,True,NaN,Southampton,no,True

In [ ]:
#Lanel encoding using loop

In [19]:
df1.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [20]:
df=df1.dropna()

In [21]:
df.shape

(182, 15)

In [22]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True

In [23]:
from pandas.api.types import is_numeric_dtype

In [24]:
for col in df.columns:
    if is_numeric_dtype(df[col]):
        continue
    else:
        df[col]=le.fit_transform(df[col])

C:\Users\PC\AppData\Local\Temp\ipykernel_3976\943359634.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col]=le.fit_transform(df[col])
C:\Users\PC\AppData\Local\Temp\ipykernel_3976\943359634.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col]=le.fit_transform(df[col])
C:\Users\PC\AppData\Local\Temp\ipykernel_3976\943359634.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col]=le.fit_transform(df[col])
C:\Users\PC\AppData\Local\Temp\ipykernel_3976\943359634.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col]=le.fit_transform(df[col])
C:\Users\PC\AppData\Local\Temp\ipykernel_3976\943359634.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col]=le.fit_transform(df[col])
C:\Users\PC\AppData\Local\Temp\ipykernel_3976\943359634.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col]=le.fit_transform(df[col])
C:\Users\PC\AppData\Local\Temp\ipykernel_3976\943359634.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col]=le.fit_transform(df[col])

In [25]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,0,38.0,1,0,71.2833,0,0,2,False,2,0,1,False
3,1,1,0,35.0,1,0,53.1000,2,0,2,False,2,2,1,False
6,0,1,1,54.0,0,0,51.8625,2,0,1,True,4,2,0,True
10,1,3,0,4.0,1,1,16.7000,2,2,0,False,6,2,1,False
11,1,1,0,58.0,0,0,26.5500,2,0,2,False,2,2,1,True